.vscode/*
bin/*
data/*
lib/*
libexec/*
output_breve_genomes/*
output_infantis_genomes/*
share/*
.DS_Store
.Rproj.user
.Rhistory
.RData
PopGenome_test.r
mummer_clustering*.ipynb
skani_clustering.ipynb
